
*{margin:0px; padding:0px;}

body
{
margin:0px;
padding:0px;
background-color:#eeeeee;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
}

a {
text-decoration:none;
}

a :hover {
text-decoration:underline;
}

img
{
border:0;
}

.forgot_top
{
background-image:url(../images/forgot_password.png); 
height:78px; 
background-repeat:no-repeat; 
background-position:right;
}

.login_top
{

background-image:url(../images/login_top_03.png); 
height:70px; 
background-repeat:no-repeat; 
background-position:right;
padding-left:70px;
}

.login_bg
{
background-image:url(../images/login_bg_03.png); 
height:9px;
background-repeat:repeat-y;
background-position:right;
     	
}

.login_fouter
{
background-image:url(../images/login_foter_03.png); 
height:92px;
background-repeat:no-repeat;
background-position:right;
}

.register_top
{
background-image:url(../images/register_top_03.png); 
height:82px; 
background-repeat:no-repeat; 
background-position:right;
}

.register_bg
{
background-image:url(../images/register_bg_03.png); 
height:7px;
background-repeat:repeat-y;
background-position:right;
}

.register_fouter
{
background-image:url(../images/register_foter_03.png); 
height:97px;
background-repeat:no-repeat;
background-position:right;
}


.input_type_box
{
background-image:url(../images/input_box_09.png);
height:32px;
#height:23px;
background-repeat:repeat-x;
width:204px;
border:1px solid #d8d8d8;
padding-right:40px;
padding-left:10px;
padding-top:0px;
#padding-top:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
line-height:normal;
color:#707070;
margin-bottom:10px;
margin-top:4px;
}

.text_area
{

border:2px solid #000;
height:auto;
#height:auto;
width:93%;
border:1px solid #d8d8d8;
padding-right:5px;
padding-left:5px;
padding-top:5px;
#padding-top:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
line-height:18px;
color:#707070;
background::url(../images/text_area_03.png) repeat-x 0px 0px;
resize: none;
}

.iconCreative
{
position:relative;top:-33px;#top:-16px;left:230px;
}

.input_type_user
{
background-image:url(../images/username_09.png);
height:42px;
#height:33px;
background-repeat:no-repeat;
width:204px;
border:0px;
padding-right:40px;
padding-left:10px;
padding-top:0px;
#padding-top:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
line-height:18px;
color:#707070;
}

.input_type_password
{
background-image:url(../images/password_09.png);
height:42px;
#height:33px;
background-repeat:no-repeat;
width:204px;
border:0px;
padding-right:40px;
padding-left:10px;
padding-top:0px;
#padding-top:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:11px;
line-height:18px;
color:#707070;
}

#input_type_user
{
padding-right:20px;
}

.form_text
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:13px;
line-height:18px;
color:#707070;

font-variant:small-caps;
}

.form_foter_text
{
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:12px;
line-height:18px;
color:#ffffff;

text-align:left;
}

.sign_top_bg
{
background-image:url(../images/sing_up_top_03.png);
height:20px;
background-repeat:no-repeat;
background-position:bottom;
width:520px;
}

.sign_body_bg
{
background-image:url(../images/sign_up_body_03.png);
height:20px;
background-repeat:repeat-y;
background-position:top;
width:520px;
padding:0 10px 0 10px;
}

.sign_bottom_bg
{
background-image:url(../images/sing_foter_03.png);
height:81px;
background-repeat:no-repeat;
background-position:top;
width:520px;
}

.success_validation_green
{
background-color:#f1ffbf;
border:1px solid #739d04;
width:200px;
margin:0px auto;
padding:5px 10px;font-size:11px;font-weight:bold;
color:#739d04;
background-image:url(../images/green_icon.png);
background-position:97%;
background-repeat:no-repeat;
}

.success_validation_red
{
background-color:#fecdc6;
border:1px solid #bf5705;
width:200px;
margin:0px auto;
padding:5px 10px;font-size:11px;font-weight:bold;
color:#bf5705;
background-image:url(../images/red_icon.png);
background-position:97%;
background-repeat:no-repeat;
}

.submit_button{background-image:url(../images/buton_13.png);
height:34px;
background-repeat:no-repeat;
margin-top:15px;
width:96px;
border:0px;
background-color:#151515;
}